<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="Chat">
  <ion-content class="padding">
    <div>
      <div ng-controller="MessageController">
        <div ng-repeat="message in items">
          {{message.author}} <br>
          <div ng-if="message.type == 'Calculator'">
            <div ng-if="+message.text.split('/')[0] < 0">
              owes ${{message.text.split('/')[0]}} for {{message.text.split('/')[1]}}
            </div>
            <div ng-if="+message.text.split('/')[0] >= 0">
              lent ${{message.text.split('/')[0]}} for {{message.text.split('/')[1]}}
            </div>
          </div>
          <div ng-if="message.type == 'Message'">
            {{message.text}}
          </div>
          
        </div>
        <form name="chatForm" >
            <div ng-show="showCalculator">
              <md-content layout-gt-sm="row" layout-padding>
                <label>Amount</label>
                <input ng-model="BalanceTab.amount" type="text" placeholder="$">
              </md-content>
              <md-content layout-gt-sm="row" layout-padding>
                <label>Activity</label>

                <input ng-model="BalanceTab.activity" type="text">
              </md-content>
            </div>
            <md-content layout-gt-sm="row" layout-padding>
              <md-input-container>
                <label>Chat</label>
                <input ng-model="Message" ng-change="triggerInputHandler(Message)" name="chat_box" type="text">
              </md-input-container>
               <input type="submit" ng-click="addItem(Message)" value="Send" class="md-raised md-button md-primary">
            </md-content>
        </form>
      </div>
      
      
    </div>
  </ion-content>
</ion-view>
.
..




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































