<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="Chat">
  <ion-content class="padding">
    <div>
      <div ng-controller="MessageController">
        <div ng-repeat="message in items">
          <div class="container">
            <div class="row" style="width: 100%;">

              <div class="col-sm-6 chat-box-tab-other"  style="width: 50%">
                <div ng-if="message.author != 'Kevin Tan'">
                  <span class="chat-message-author" style="float: right;">{{message.author}}</span> <br>
                  <div ng-if="message.type == 'Calculator'">
                    <div ng-if="+message.text.split('/')[0] < 0">
                      owes ${{message.text.split('/')[0]}} for {{message.text.split('/')[1]}}
                    </div>
                    <div ng-if="+message.text.split('/')[0] >= 0">
                      lent ${{message.text.split('/')[0]}} for {{message.text.split('/')[1]}}
                    </div>
                  </div>
                  <div ng-if="message.type == 'Message'" class="chat-message-text">
                    {{message.text}}
                  </div>
                </div>
              </div>

              <div class="col-sm-6 chat-box-tab-self"  style="width: 50%">
                <div ng-if="message.author == 'Kevin Tan'">
                  <span class="chat-message-author" style="float: right;">{{message.author}}</span> <br>
                  <div ng-if="message.type == 'Calculator'">
                    <div ng-if="+message.text.split('/')[0] < 0">
                      owes ${{message.text.split('/')[0]}} for {{message.text.split('/')[1]}}
                    </div>
                    <div ng-if="+message.text.split('/')[0] >= 0">
                      lent ${{message.text.split('/')[0]}} for {{message.text.split('/')[1]}}
                    </div>
                  </div>
                  <div ng-if="message.type == 'Message'" class="chat-message-text">
                    {{message.text}}
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>


            <div ng-show="showCalculator" class="bottom-float-calculator-box">
              <md-content layout-gt-sm="row" layout-padding >
                <input ng-model="BalanceTab.amount" type="text" placeholder="$0.00">
              </md-content>
              <md-content layout-gt-sm="row" layout-padding>
                <input ng-model="BalanceTab.activity" type="text" placeholder="Activity">
              </md-content>
            </div>

            <md-content layout-gt-sm="row" layout-padding class="bottom-float-chat-bar">
              <md-input-container class="input-field">
                <label>Chat</label>
                <input ng-model="Message"  ng-change="triggerInputHandler(Message)" name="chat_box" type="text">
              </md-input-container>
              <md-input-container class="send-button">
                <input type="submit" ng-click="addItem(Message)" value="Send" class="md-raised md-button md-primary">
              </md-input-container>
            </md-content>

      </div>


    </div>
  </ion-content>
</ion-view>
.
..




























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































