<ion-view view-title="Stay Reservation">
  <ion-content class="padding">
    <div>
      <div ng-controller="FlightController">
          <md-datepicker ng-model="Reservation.depart" md-placeholder="Depart"></md-datepicker>
        <div>People</div>
          <md-button ng-disabled="true" class="md-raised md-primary">
            {{Reservation.people}}
          </md-button>
        <div>Origin</div>
          <md-button ng-disabled="true" class="md-raised md-primary">
            {{airports[Reservation.origin].city}}
          </md-button>  
        <div>Destination</div>
          <md-button ng-disabled="true" class="md-raised md-primary">
            {{airports[Reservation.destination].city}}
          </md-button>

        <md-button class="md-raised md-primary" ng-disabled={{disabledStatus}} ng-click="fetchFlights(Reservation)">Go!</md-button>
        <div ng-repeat="listing in listings">
            <md-card md-theme="dark-orange" md-theme-watch>
              <img ng-src="">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">${{listing.fare.total_price}}</span>
                  <span class="md-subhead">
                     <div ng-repeat="itir in listing.itineraries">
                        <div ng-repeat="flight in itir.outbound.flights" >
                          {{flight.marketing_airline}} {{flight.flight_number}}      {{airports[flight.origin.airport].city}} to {{airports[flight.destination.airport].city}}<br>
                          {{flight.departs_at.substr(11)}} {{flight.arrives_at.substr(11)}} {{flight.aircraft}}
                        </div>
                      </div>
                      {{Reservation.origin}} to {{Reservation.destination}}  {{listing.itineraries.total_hrs}} hr {{listing.itineraries.total_min}} min ({{listing.itineraries.length}} stops)
                  </span>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button>Book</md-button>
              </md-card-actions>
            </md-card>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>