<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="#/tab/home/{{listing.id}}">
  <ion-content class="padding">

    <form class="list list-inset" ng-submit="createListing(listingDetails)">

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>Title of your listing</label>
                    <input ng-model="listingDetails.title" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Destination</label>
                    <input ng-model="listingDetails.destination" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Description</label>
                    <input ng-model="listingDetails.description" type="text">
                </md-input-container>

            </div>
        </md-content>
        <md-button class="md-primary md-inkripple md-raised" md-colors="{background: 'light-green'}" type="submit">Create your own listing!</md-button>
    </form>

    <div>
        <div ng-repeat="personal in PersonalListings">
          Trip name: {{personal.title}}    <br />
          Destination: {{personal.destination}} <br />
          Description: {{personal.description}} <br />  
            
      </div>
    </div>

      <div>
          <md-button class="md-primary md-inkripple md-raised" md-colors="{background: 'lime'}" ng-click="changeTab('tabs.listings')">
              Back to all the listings
          </md-button>
      </div>
  </ion-content>
</ion-view>