<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="Home">
  <ion-content class="padding">
      <!--title: listingDetails.title,
      destination: listingDetails.destination,
      description: listingDetails.description,
      departure: listingDetails.Date, //help with this pleaseee? Not sure if date format is correct.
      user_id: listingDetails.id-->

    <form class="list list-inset" ng-submit="createListing(listingDetails)">

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div>
                <md-input-container>
                    <label>Title of your listing</label>
                    <input ng-model="listingDetails.title" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Destination</label>
                    <input ng-model="listingDetails.destination" type="text">
                </md-input-container>

                <md-input-container>
                    <label>Description</label>
                    <input ng-model="listingDetails.description" type="text">
                </md-input-container>

                <!--<md-input-container>
                    <label>Date</label>
                    <input ng-model="listingDetails.Date" type="date">
                </md-input-container>

                <md-input-container>
                    <label>id</label>
                    <input ng-model="listingDetails.id" type="text">
                </md-input-container>-->


            </div>
        </md-content>
        <md-button class="md-raised md-primary" md-colors="{background: 'light-green'}" type="submit">Create your own listing!</md-button>
    </form>

    <div>
        <!-- <ion-item class="item-remove-animate item-icon-right" ng-repeat="listing in ListofListings" type="item-text-wrap" href="#/tab/home/{{listing.id}}"> -->
        <div ng-repeat="listing in ListofListings">
        <a href="#/tab/home/{{listing.id}}">
        <md-card md-theme="dark-orange" md-theme-watch>
              <img ng-src="">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Trip name: {{listing.title}}</span>
                  <span class="md-subhead">
                     <div ng-repeat="itir in listing.itineraries">
                        <div ng-repeat="flight in itir.outbound.flights" >
                          <span class="flight-headers">Destination: {{listing.destination}}</span><br>
                        </div>
                      </div>
                      <p class="final-flight-listing">
                        Description: {{listing.description}}
                      </p>
                  </span>
                </md-card-title-text>
              </md-card-title>
        </md-card-title>
        </md-card>
        </a>
        </div>
      <!-- </ion-item> -->
    </div>
      <md-button class="md-primary md-inkripple md-raised" md-colors="{background: 'lime'}" ng-click="changeTab('register')">
          Sign out

      </md-button>
  </ion-content>
</ion-view>
